# Virtual envs
**/venv
**/.venv

# VS code
**/.vscode

# Azure function hidden files
./spawner/local.settings.json

# Mac and Pycharm specific
**/.DS_Store
**/.idea

# Environment variables on any level
**/.env